# Omit during export.
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
composer.json export-ignore
phpcs.xml.dist export-ignore
lexer-explorations/*.php export-ignore
wp-includes/sqlite/class-wp-sqlite-crosscheck-db.php export-ignore
